@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#navbar {
  border: 0.1rem #067bc2 solid;
  padding-bottom: 2.4rem;
  margin: 2rem;
  border-radius: 1rem;
  background-color: #067bc2;
}
.navi {
  color: black;
  background-color: rgb(255, 255, 255);
  background-color: #067bc2;
}
#navbar li {
  padding-right: 1em;
  float: right;
  position: relative;
  display: block;
  list-style-type: disc;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  font-size: 1.3em;
}
#navbar a{
  text-decoration: none;
}
#navbar a:hover{
  text-decoration: none;
  color: #ffffff;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
#title {
  text-align: center;
  color: #cd533b;
  font-size: 5rem;
}
#subtitle {
  text-align: left;
  color: #cd533b;
  font-size: 3em;
  border-bottom: 1px solid #e8e8e8;
}
.conform {
  margin: 10px;
  display: inline-block;
}
.edu_wrap {
  border: 2px black solid;
  border-spacing: 1px 0.1rem;
  padding: 0.5rem;
  width: 500px;
  font-style: italic;
}
.banner_home img {
  margin: 0%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: 80vw;
}

/*Colors:
D8D2E1
011627
067BC2
2EC4B6
CD533B
*/
